@model cruudd.Models.Cadastro

<h2>Novo Cadastro</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Nome"></label>
        <input asp-for="Nome" />
    </div>
    <div>
        <label asp-for="Curso"></label>
        <input asp-for="Curso" />
    </div>
    <div>
        <label asp-for="Semestre"></label>
        <input asp-for="Semestre" type="number" />
    </div>
    <button type="submit">Salvar</button>
</form>
