@model cruudd.Models.Cadastro

<h2>Excluir Produto</h2>

<h3>Tem certeza que deseja excluir este produto?</h3>

<div>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Nome:</strong> @Model.Nome</p>
    <p><strong>Preço:</strong> @Model.Curso</p>
    <p><strong>Quantidade:</strong> @Model.Semestre</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Confirmar Exclusão</button>
    <a asp-action="Index">Cancelar</a>
</form>
